Operaciones con variables, conversion celsius a farenheit
c=(32xf-32)x 5/9
f=cx9/5+32

In [762]:
celcius=30

In [763]:
celcius*9/5+32

86.0

In [764]:
farenheit=celcius*9/5+32

In [765]:
print(farenheit)

86.0

In [766]:
farenheit

86.0

In [767]:
type(celcius)

int

In [768]:
type(farenheit)

float

In [769]:
farenheit_1=75

In [770]:
celcius_1=(farenheit_1-32)*5/9

In [771]:
celcius_1

23.88888888888889

Opereciones con texto

In [772]:
string="codigo"

In [773]:
string[0]

'c'

In [774]:
string[2:5]

'dig'

In [775]:
string[-1]

'o'

In [776]:
string[-2]

'g'

In [777]:
string+'s'

'codigos'

In [778]:
temp_string="21.3"

In [779]:
print("La temperatura es"+temp_string+ "~C")

La temperatura es21.3~C

In [780]:
2*temp_string

'21.321.3'

In [781]:
temp_float= float(temp_string)
temp_float

21.3

In [782]:
2*temp_float

42.6

In [783]:
str(temp_float)

'21.3'

In [784]:
int(temp_float)

21

Listas

In [785]:
t_b=26
t_m=24
t_p=21

In [786]:
t_p

21

In [787]:
t_p,t_b,t_m

(21, 26, 24)

In [788]:
temperatura=[26,24,21]
temperatura

[26, 24, 21]

In [789]:
type(temperatura)

list

In [790]:
temperaturaN=["brazil",26,"Mexico",24,"Peru",21]
temperaturaN

['brazil', 26, 'Mexico', 24, 'Peru', 21]

Operaciones con listas

In [791]:
temperaturaN[0]

'brazil'

In [792]:
temperaturaN[1]

26

In [793]:
temperaturaN[2]

'Mexico'

In [794]:
temperaturaN[-1]

21

In [795]:
temperaturaNN=[["brazil",26],["Mexico",24],["Peru",21]]
temperaturaNN

[['brazil', 26], ['Mexico', 24], ['Peru', 21]]

In [796]:
temperaturaNN[2][0]

'Peru'

In [797]:
temperaturaNN[1][1]

24

In [798]:
temperaturaNNN=[["brazil",26],["Mexico",[24, 22, 23]],["Peru",21]]
temperaturaNNN

[['brazil', 26], ['Mexico', [24, 22, 23]], ['Peru', 21]]

In [799]:
temperaturaNNN[1][1][0]

24

Particiones

In [800]:
temperaturaN

['brazil', 26, 'Mexico', 24, 'Peru', 21]

In [801]:
temperaturaN[:][:]

['brazil', 26, 'Mexico', 24, 'Peru', 21]

In [802]:
temperaturaN

['brazil', 26, 'Mexico', 24, 'Peru', 21]

In [803]:
temperaturaN[:3]

['brazil', 26, 'Mexico']

In [804]:
temperaturaN[2:]

['Mexico', 24, 'Peru', 21]

Modificar elementos de una lista

In [805]:
temperaturaN

['brazil', 26, 'Mexico', 24, 'Peru', 21]

In [806]:
temperaturaN[1]=30
temperaturaN

['brazil', 30, 'Mexico', 24, 'Peru', 21]

In [807]:
temperaturaN[0:2]=["colombia",18]
temperaturaN

['colombia', 18, 'Mexico', 24, 'Peru', 21]

Agregar elementos a una lista

In [808]:
temperatura_ecuador=19

In [809]:
temperaturaN+[temperatura_ecuador]

['colombia', 18, 'Mexico', 24, 'Peru', 21, 19]

In [810]:
temperaturaN+["ecuador",temperatura_ecuador]

['colombia', 18, 'Mexico', 24, 'Peru', 21, 'ecuador', 19]

In [811]:
len(temperaturaN)

6

In [812]:
temperaturaN=temperaturaN+["ecuador",temperatura_ecuador]
temperaturaN

['colombia', 18, 'Mexico', 24, 'Peru', 21, 'ecuador', 19]

In [813]:
len(temperaturaN)

8

Eliminar elementos de una lista

In [814]:
del(temperaturaN[7])
temperaturaN

['colombia', 18, 'Mexico', 24, 'Peru', 21, 'ecuador']

In [815]:
del(temperaturaN[6])
temperaturaN

['colombia', 18, 'Mexico', 24, 'Peru', 21]

Copiar listas

In [816]:
copia=temperaturaN
copia

['colombia', 18, 'Mexico', 24, 'Peru', 21]

In [817]:
del(temperaturaN[0])
temperaturaN

[18, 'Mexico', 24, 'Peru', 21]

In [818]:
copia

[18, 'Mexico', 24, 'Peru', 21]

In [819]:
temperaturaN=['brazil', 30, 'Mexico', 24, 'Peru', 21]
temperaturaN

['brazil', 30, 'Mexico', 24, 'Peru', 21]

In [820]:
copia=temperaturaN[:]
copia

['brazil', 30, 'Mexico', 24, 'Peru', 21]

In [821]:
del(temperaturaN[0])
temperaturaN

[30, 'Mexico', 24, 'Peru', 21]

In [822]:
copia

['brazil', 30, 'Mexico', 24, 'Peru', 21]

In [823]:
temperaturaN=['brazil', 30, 'Mexico', 24, 'Peru', 21]
temperaturaN

['brazil', 30, 'Mexico', 24, 'Peru', 21]

In [824]:
copia=list(temperaturaN)
copia

['brazil', 30, 'Mexico', 24, 'Peru', 21]

In [825]:
del(temperaturaN[0])
temperaturaN

[30, 'Mexico', 24, 'Peru', 21]

In [826]:
copia

['brazil', 30, 'Mexico', 24, 'Peru', 21]

Diccionarios

In [827]:
dicc_temp={
    "brazil":25,
    "mexico":21,
    "peru": 23,
    "ecuador":19
}
dicc_temp

{'brazil': 25, 'mexico': 21, 'peru': 23, 'ecuador': 19}

In [828]:
dicc_temp1={
    "brazil":25,
    "mexico":[21,23,24,18,22,20,18],
    "peru": "lima",
    "ecuador":19
}
dicc_temp1

{'brazil': 25,
 'mexico': [21, 23, 24, 18, 22, 20, 18],
 'peru': 'lima',
 'ecuador': 19}

In [829]:
dicc_temp1["brazil"]

25

In [830]:
dicc_temp1["mexico"]

[21, 23, 24, 18, 22, 20, 18]

In [831]:
dicc_temp1["peru"]

'lima'

In [832]:
dicc_temp1["ecuador"]

19

Agregar elementos

In [833]:
dicc_temp["colombia"]=17
dicc_temp

{'brazil': 25, 'mexico': 21, 'peru': 23, 'ecuador': 19, 'colombia': 17}

In [834]:
dicc_temp["colombia"]

17

Eliminar elemento

In [835]:
del(dicc_temp['ecuador'])
dicc_temp

{'brazil': 25, 'mexico': 21, 'peru': 23, 'colombia': 17}

Evaluar si un elemento esta en el diccionario

In [836]:
'ecuador' in dicc_temp

False

In [837]:
'mexico' in dicc_temp

True

Revisar todas las keys y values

In [838]:
dicc_temp.keys()

dict_keys(['brazil', 'mexico', 'peru', 'colombia'])

In [839]:
list(dicc_temp.keys())

['brazil', 'mexico', 'peru', 'colombia']

In [840]:
dicc_temp.values()

dict_values([25, 21, 23, 17])

In [841]:
list(dicc_temp.values())

[25, 21, 23, 17]

Condiciones y loops

In [842]:
temperatura=22

if(temperatura<0):
    print("temperatura menor a 0")
elif(temperatura>35):
    print("temperatura muy alta")
else:
    print("temperatura baja")

temperatura baja

Operadores logicos

In [843]:
temperatura=22
temperatura_alta=25    

if(temperatura>10) and (temperatura<30):
    print("Temperatura correcta")
else:
    print("Temperatura incorrecta")

Temperatura correcta

For

In [844]:
range(10)

range(0, 10)

In [845]:
range(5,10)

range(5, 10)

In [846]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [847]:
temperatura2=[1,20,15,32,27]
len(temperatura2)

5

In [848]:
for i in range(5):
    print(temperatura2[i])

1
20
15
32
27

In [849]:
for i in range(5,10):
    print(i*2)

10
12
14
16
18

In [850]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [851]:
for t in temperatura2:
    print(t)

1
20
15
32
27

In [852]:
i=0
while i <6:
 print(i)
 i+=1

0
1
2
3
4
5

Funciones

In [853]:
type(temperatura2)

list

In [854]:
len(temperatura2)

5

In [855]:
max(temperatura2)

32

In [856]:
min(temperatura2)

1

In [857]:
round(3.141592,4)

3.1416

In [858]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [859]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

Metodos

In [868]:
pais="peru"
pais

'peru'

In [869]:
pais.capitalize()

'Peru'

In [870]:
pais.replace("u","ú")

'perú'

In [871]:
temperatura2

[1, 20, 15, 32, 27]

In [863]:
temperatura2.index(32)

3

In [864]:
temperatura2.index(1)

0

In [872]:
temperatura2.count(20)

1

In [873]:
temperatura2.replace(1,45)

AttributeError: 'list' object has no attribute 'replace'

In [874]:
pais.index("e")

1

In [875]:
temperatura2.append(10)
temperatura2

[1, 20, 15, 32, 27, 10]

In [876]:
temperatura2.append(15)
temperatura2

[1, 20, 15, 32, 27, 10, 15]

Paquete de funciones

In [ ]:
import pandas as pd
import numpy as np