In [ ]:
#Importar librerias pandas y numpy
#Importar libreria numpy as np

import pandas as pd

import numpy as np

In [ ]:
#Enganchar el dataset desde un sitio web

url="https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

#DataFrame para recuperar datos
data= pd.read_csv(url)

In [ ]:
data= pd.read_csv("titanic.csv")

In [ ]:
# Desplegamos los primeros registros
data.head(5)

In [ ]:
#Desplegar ultimos registros

data.tail(5)

In [ ]:
#Panorama de la estructura dataset
#Filas y columnas
data.shape

In [ ]:
#Desplegar los valores de las columnas

data.columns.values

In [ ]:
#Panorama estadistico del dataset
# Estado del dataset numero de datos, media de datos, desviacion estandar, min, cuartiles, max
data.describe()

In [ ]:
#Panorama estadistico del dataset
# Estado del dataset numero de datos, media de datos, desviacion estandar, min, cuartiles, max
data.describe()

In [ ]:
header(None)

In [ ]:
#valores nulos

pd.isnull(data["Age"])

In [ ]:
# Valores no nulos

pd.notnull(data["Age"])

In [ ]:
#Contar los registros nulos 

pd.isnull(data["Age"]).values.ravel().sum()

In [ ]:
#Contar los registros no nulos 

pd.notnull(data["Age"]).values.ravel().sum()

In [ ]:
#Borrar datos faltantes causados por:
# * Incopatibilidad del manejador de base de datos con el metodo de acceso o 
# * En un muestreo estadistico no hubo respuestas 

#Copia del dataset original

data2= data

#Borrar una fila completa con valores Nan

data2.dropna()

#Dropna por default axis=0 how= any  borrara todas las columnas que tengan algun Nan
# Al hacer modificaciones al data tenemos que asignar el dataset
# modificado al mismo dataset para que se conserven los cambios

data2=data2.dropna(axis=1, how="all")

In [ ]:
#Copia del dataset original


data3=data
#Borrar una fila completa con valores Nan

data3.dropna()

#Dropna por default axis=0 how= any  borrara todas las columnas que tengan algun Nan
# Al hacer modificaciones al data tenemos que asignar el dataset
# modificado al mismo dataset para que se conserven los cambios

data3=data3.dropna(axis=1, how="any")

In [ ]:
#Rellenar valores Nan con 0
#Funcion fillna

data4= data
data4= data4.fillna(0)

data4.describe()

In [ ]:
#Rellenar valores Nan con 0
#Funcion fillna

data5= data
data5= data5.fillna(0)

data5.describe("Unknown")

In [ ]:
#Rellenar valores Nan con el promedio

data6=data

#Igualamos el promedio a la columna mean del describe
mean=data6.describe()["Age"]["mean"]

#remplazamos por
data4= data4.fillna(mean)


data6.describe()

In [ ]:
#Dividir la columna sexo en 2 : male/ female
data5=data
data5.head(20)
data5 = pd.get_dummies(data5["Sex"])

In [ ]:
#Borrar columna original
data5=data5.drop(columns=["Sex"])
data5.head()

In [ ]:
#Agregar Columnas ficticias
data5=pd.concat([data,data5],axis=1)
data5.head(5)

In [ ]:
#Libreria para graficar
import matplotlib.pyplot as plt

#from matplotlib import colors
#from matplotlib.ticker import PercentFormatter

In [ ]:
#Histograma de edades

plt.hist(data["Age"], bins = 10)

In [ ]:
#Informacion del histograma.
plt.xlabel 
plt.ylabel 
plt.title

Personal reflection about this activity
•	In this activity I learned how to upload csv works
•	I learned about types of dataframes
•	I learned how to modify headers of tables 
•	I learned how show elements from a table
•	I learned how to replace words from a table
In this activity, I have worked with jupyter notebooks using the pandas library, the job is to clean a dataset called titanic.
The data cleaning consists of showing the data types in different formats and in different ways, that is to say, we can observe only the first data that we indicate or the last data. For example, a very useful dataset usually includes a very high number of data up to thousands of columns, with functions like head and tail we can observe only a number of these data. 
Another very useful function when working with columns is the dummies function with which it is possible to divide a column into two or more different ones according to their value, i.e. when there is a row that can show a positive result and a negative one, it is possible to separate it into a row with the positive results and another row with the negative results. Additionally with the Pandas DataFrame structure you can specify the index and column names. The index indicates the difference in the rows, while the column names indicate the difference in the columns. These components are very useful when data manipulation is required.
The activities in this assignment helped me to observe and learn a little bit about what data scientists do since their first assignment in a job is about cleaning data warehouses that they might obtain or receive.